/*!
 * style.css
 * @author Mathieu Bour
 */
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/panama-light/panama-light.woff2') format('woff2'),
    url('../../fonts/panama-light/panama-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    position: relative;
    background-color: #eeeeee;
}


.content {
    position: absolute;
    left: 300px;
    top: 70px;
    right: 0;
    padding: 20px;
}

.panel-heading > h3 {
    margin: 5px 0;
}

/* = Sidebar hidden
 * =========================================================== */
.sidebar-hidden .content {
    left: 0;
}

/* = DataTables
 * =========================================================== */
.dataTable {
}
.dataTable td {
    vertical-align: middle;
}