.layout-centred {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    .layout-centred #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.layout-centred #container > .panel {
    min-width: 400px;
}
.layout-centred #container > .panel:last-child {
    margin-bottom: 0;
}