h3 {
    margin: 40px 0 15px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: 'Panama', Helvetica, sans-serif;
    border-bottom: dashed 1px #000000;
}

.control-label {
    margin-top: 10px;
    font-family: 'Panama', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
