.header h1,
.header h2 {
    color: #000;
    font-family: 'Panama', Helvetica, sans-serif;
    text-transform: uppercase;
}

.header-light h1, .header-light h2 {
    color: #fff;
}

.header h1 {
    font-size: 80px;
}

.header h2 {
    font-size: 40px;
}